/* banner start  *************************************************/

.p-banner .container .wrapper {
  position: relative;
  padding-top: 80px;
  padding-bottom: 120px;
}

.p-banner .container .wrapper .inner-box {
  max-width: 70%;
}

.p-banner .hc-5 {
  text-transform: uppercase;
  color: var(--primarycolour);
}

.p-banner .bnr-txt {
  line-height: 1;
  font-size: clamp(2.5rem, 1.161rem + 3.571vw, 4.375rem);
  /* scale between 40px at 600px and 70px at 1440px */
}

.p-banner .bnr-txt span {
  color: #6b7280;
}
.p-banner p {
  color: var(--grey);
}
