* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none !important;
}

body,
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

:root {
  --primarycolour: #48a1f5;
  --white: #ffffff;
  --grey: #999696;
}
body {
  background: #181818;
}

/* custom variable start ***************************/
.hc-1 {
  color: var(--white);
  font-size: clamp(2.5rem, -0.417rem + 8.102vw, 6.875rem);
  /* scale between 40px at 576px and 110px at 1440px */
  font-weight: 700;
}

.hc-2 {
  color: var(--white);
  font-size: clamp(2.5rem, 2.083rem + 1.157vw, 3.125rem);
  /* scale between 40px at 576px and 50px at 1440px */
  font-weight: 600;
}

.hc-3 {
  color: var(--white);
  font-size: clamp(1.875rem, 1.458rem + 1.157vw, 2.5rem);
  /* scale between 30px at 576px and 40px at 1440px */
  font-weight: 700;
}

.hc-4 {
  color: var(--white);
  font-size: clamp(1.25rem, 0.833rem + 1.157vw, 1.875rem);
  /* scale between 20px at 576px and 30px at 1440px */
  font-weight: 600;
}

.hc-5 {
  color: var(--white);
  font-size: 20px;
  font-weight: 600;
}

/* custom variable end *************************** */

/* header start ******************************* */

header {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 99;
  background: rgba(24, 24, 24, 0);
  position: fixed;
  height: clamp(3.75rem, 1.984rem + 5vw, 4.375rem);
  /* scale between 60px at 565px and 70px at 765px. */
}

header .navbar-brand > img {
  max-width: clamp(11.25rem, 8.333rem + 8.102vw, 15.625rem);
  /* scale between 180px at 576px and 250px at 1440px */
}

.navbar-nav li {
  margin-right: 5px;
  margin-left: 5px;
  position: relative;
}

.navbar-nav > li a {
  color: var(--white) !important;
  text-transform: uppercase;
  text-align: center;
}

.nav-link.active {
  color: var(--primarycolour) !important;
}

.navbar-nav .sub-menu {
  position: absolute;
  left: 0px;
  top: 30px;
  padding-top: 30px;
  opacity: 0;
  visibility: hidden;
  transition: all 300ms ease-in-out;
  z-index: 5;
}

.navbar-nav .sub-menu > ul {
  background-color: #181818;
  border-top: 3px solid var(--primarycolour);
  width: max-content;
}

.navbar-nav > li:nth-child(3) a:hover ~ .sub-menu {
  opacity: 1;
  visibility: visible;
}
header .navbar .navbar-toggler {
  border: none;
  color: transparent;
}

header .navbar .navbar-toggler-icon {
  color: var(--white);
}
.offcanvas {
  background-color: #181818;
}
.offcanvas-end {
  width: 250px;
}
.btn-close {
  filter: invert(100%);
}
header .hambarger-menu {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 2px solid var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  font-size: 20px;
  cursor: pointer;
}

.main-slide-bar {
  width: 100%;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  background-color: #18181899;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-in-out;
}
.main-slide-bar.open {
  visibility: visible;
  opacity: 1;
}

.slide-bar {
  width: 500px;
  height: 100vh;
  position: absolute;
  right: -100px;
  top: 0;
  padding: 90px 50px 50px;
  background-color: #181818;
  transition: all 0.5s ease-in-out;
}
.main-slide-bar.open .slide-bar {
  right: 0;
}

.close-btn {
  color: var(--white);
  font-size: 20px;
  position: absolute;
  right: 24px;
  width: 35px;
  top: 26px;
  height: 35px;
  border: 2px solid var(--white);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-heading h2 {
  color: var(--white);
  font-size: 22px;
  font-weight: 600;
}
.slide-contact .contact-info > h6 {
  color: var(--white);
  font-weight: 600;
  margin-bottom: 20px;
}
.slide-contact .contact-info ul li {
  list-style: none;
  display: block;
  position: relative;
}
.slide-contact .contact-info ul li a {
  color: var(--grey);
  margin-bottom: 10px;
  display: block;
  position: relative;
  padding-left: 29px;
}
.slide-contact .contact-info ul li a > i {
  color: var(--primarycolour);
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.costum-navbar {
  position: fixed;
  /* top: -100px;
  transform: translateY(100px); */
  transition: all 0.6s ease-in-out;
  background: rgba(24, 24, 24, 0.95);
  padding: 20px 0px;
  z-index: 9;
  box-shadow:
    rgba(0, 0, 0, 0.19) 0px 10px 20px,
    rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.cursor {
  --size: 26px;
  position: fixed;
  top: 0;
  left: 0;
  height: var(--size);
  width: var(--size);
  background-image: rgba(0, 0, 0, 0.466);
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.5);
  transform: translate3d(
    calc(100vw * var(--cursor-x) - var(--size) / 2),
    calc(100vh * var(--cursor-y) - var(--size) / 2),
    0
  );
  pointer-events: none;
  z-index: 100;
}
.cursor.hover-interactive-text {
  display: block;
  height: 222px;
  width: 350px;
  z-index: 1;
  border-radius: 0%;
  background-size: cover;
  background-origin: content-box;
  background-position: center;
  transition: 0.2s cubic-bezier(0.4, 1, 0.32, 1);
}

#buttontop {
  display: inline-block;
  background-color: #000;
  width: 50px;
  height: 50px;
  color: var(--primarycolour);
  border-radius: 50%;
  text-align: center;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition:
    background-color 0.3s,
    opacity 0.5s,
    visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 21px;
}
#buttontop.show {
  opacity: 1;
  visibility: visible;
}

/* header end here  **********************************************/

/* footer start ************************************************************ */

footer {
  padding-top: 80px;
  position: relative;
}
footer .f-logo img {
  max-width: 250px;
}
.f-description > p {
  max-width: 350px;
}
.f-description > p,
.f-subscribe-description > p {
  color: var(--grey);
}
.f-social-icon ul li {
  display: inline-block;
}
.f-social-icon ul li a {
  width: 36px;
  height: 36px;
  color: var(--white);
  border-radius: 50%;
  border: 2px solid var(--white);
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 18px;
  transition: all 300ms ease-in-out;
}
.f-social-icon ul li a:hover {
  color: var(--primarycolour);
  border: 2px solid var(--primarycolour);
}

.f-service .hc-5,
.f-contact > .hc-5,
.f-subscribe > .hc-5 {
  margin-bottom: 35px;
  text-transform: capitalize;
}

.f-menu ul li,
.f-contact p a {
  list-style: none;
  color: var(--grey);
  margin-bottom: 20px;
  transition: all 300ms ease-in-out;
  cursor: pointer;
}
.f-menu ul li:hover,
.f-contact p a:hover {
  color: var(--primarycolour);
}
.f-contact p a > i {
  font-size: 20px;
  color: var(--primarycolour);
  margin-right: 20px;
}
.f-input input {
  height: 51px;
  width: 100%;
  background: #000;
  border: none;
  color: var(--white);
  border-radius: 14px;
  outline: none;
  padding: 10px 15px;
  position: relative;
}
.submit-btn {
  padding: 7px 25px;
  border-radius: 10px;
  color: var(--white);
  background-color: var(--primarycolour);
  position: absolute;
  top: 5px;
  right: 5px;
  font-weight: 600;
  border: none;
  overflow: hidden;
}

.copyright {
  border-top: 1px solid var(--grey);
}
.copyright p {
  color: var(--grey);
  font-size: 14px;
}

/* footer end ******************************************************* */
