/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
  #navbarNav {
    display: none !important;
  }

  .n-banner .bnr-card .hc-1 {
    margin-left: 100px;
  }
  .funfact-right {
    padding-left: 0px;
  }
  .our-blog > div {
    max-width: 960px;
    margin: 0px auto;
  }
  .our-blog-left {
    padding-left: 0%;
  }
}

@media (min-width: 1200px) {
  /* .hambarger-mobile-menu {
    display: none;
  } */
}

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .cursor {
    display: none;
  }
  .banner .bnr-heading > h1 {
    font-size: 56px;
  }

  .our-blog > div {
    max-width: 720px;
    margin: 0px auto;
  }
}

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 768px) {
  .hambarger-menu {
    display: none !important;
  }
  .n-banner .bnr-card1 .bnr-txt {
    color: var(--white);
  }
  .banner .bnr-heading > h1 {
    font-size: 56px;
  }
  .bnr-carousel-nav-container {
    display: none !important;
  }

  .our-blog > div {
    max-width: 540px;
    margin: 0px auto;
  }

  .p-banner .container .wrapper .inner-box {
    max-width: 100%;
  }
}

/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  header .logo > a > img {
    max-width: 200px;
  }
  .n-banner {
    height: 70vh;
  }
  .n-banner .bnr-card .d-flex {
    height: 70vh;
  }
  .n-banner .bnr-card .hc-1 {
    margin-left: 20px;
  }

  .main-rim {
    width: 60px;
    height: 60px;
  }

  .rim1,
  .rim2,
  .rim3 {
    display: none;
  }

  .main-funfact {
    top: 0px;
  }

  .main-funfact {
    padding: 32px 31px;
  }

  .our-blog > div {
    max-width: 100%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
  }

  .portfolio .portfolio-nav .nav .nav-item {
    flex-basis: 46%;
    justify-content: space-between;
  }
  .portfolio .portfolio-nav .nav .nav-item .nav-link {
    text-align: center;
    font-size: 14px;
    padding: 8px 20px;
  }
  .portfolio .portfolio-section {
    padding-top: 80px;
  }
}

@media (max-width: 374.98px) {
  .our-team .card-info {
    width: 230px;
  }
  .our-team .card-info > .hc-5 {
    font-size: 18px;
  }
  .our-team .card-info p {
    font-size: 14px;
  }
  .our-team .our-team-social {
    top: 15px;
  }
  .our-team .our-team-social ul {
    margin-bottom: 10px;
  }
}
